.about {
	width: 100%;
	padding-top: 58px;
	background-color: #fff;
	display: flex;
	justify-content: center;
    font-family: 'robotoregular';
}
.y_wrap {
	max-width: 1171px;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.y_wrap > h2 {
	font-family: 'robotomedium';
	margin-top: 52px;
	font-size: 35px;
	line-height: 25px;
	color: #1a2940;
}
.y_wrap h3 {
	position: relative;
	padding-top: 22px;
	padding-bottom: 18px;
	font-size: 15px;
	color: #a8b9c0;
	font-family: 'robotoregular';
}
.y_wrap h3:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 150px;
	border-bottom: 2px solid #00c6bf;
}
.y_wrap > p {
	padding-top: 26px;
	max-width: 575px;
	line-height: 1.2;
	align-self: center;
	font-family: 'robotoregular';
	padding-bottom: 58px;
	font-size: 15px;
	color: #a8b9c0;
}
.y_wrap .shell {
	flex-wrap: wrap;
	width: 100%;
	display: flex;
	justify-content: center;
}
.y_wrap .retina {
	width: 451px;
	text-align: left;
	font-size: 35px;
	color: #1a2940;
	font-family: 'robotomedium';
}
.y_wrap .retina h2 {
	padding-top: 90px;
}
.y_wrap .retina p {
	margin-top: 24px;
	max-width: 386px;
	font-size: 15px;
	line-height: 1.2;
	color: #a8b9c0;
	font-weight: 300;
	font-family: 'robotoregular';
}
/*.y_wrap .retina p br {
	height: 27px;
}*/
.comp {
	display: block;
	width: 720px;
	height: 415px;
	position: relative;
}
.y_wrap .comp .mac {
	width: 100%;
}
.y_wrap .comp .screen {
	position: absolute;
	width: 75%;
	height: 82%;
	top: 6%;
	right: 12.5%;
}
.shell .retina > button {
	margin-top: 25px;
	height: 45px;
	width: 210px;
	border-radius: 18px;
	background-color: #ff3150;
	font-size: 15px;
	text-transform: uppercase;
	color: #ffc501;
	border: none;
	font-family: 'robotomedium';
	cursor: pointer;
}
.about .retina > button:hover {
	font-size: 16px;
	background-color: #F42F4D;
	color: #ffc501;
}

@media screen and (max-width: 768px) {
	.shell {
		width: 90vw;
	}
	.y_wrap .shell .retina {
		text-align: center;
	}
	.shell .comp {
		height: auto;
	}
	.retina > button {
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 480px) {

}