.b_ground {
	background-color: #19283f;

}

.b_ground .wrap_390 {
	width: 100%;
	max-width: 1171px;
	height: 389px;
	background-color: #19283f;
	position: static;
	margin: 0px auto;
}

.b_ground .advertise .wrap_390 h1 {
	font-family: 'robotomedium';
	text-align: center;
	color: #fff;
	font-size: 35px;
	position: relative;
	width: 	100%;
	top: 105px;
	margin: 0px auto;
	margin-bottom: 5px;	
}

.b_ground .advertise .wrap_390 p {
	font-family: 'robotoregular';
	color: #a8b9c0;
	display: block;
	text-align: center;
	margin: 0px auto;
	width: 100%;
	font-size: 15px;
	position: relative;
	top: 125px;
	margin-bottom: 210px;
}

.b_ground .advertise .wrap_390 button {
	width: 208px;
	height: 45px;
	border-radius: 21px;
	background-color: #ff3150;
	display: block;
	font-family: 'robotomedium';
	border: none;
	font-weight: 500;
	color: #ffc501;
	box-sizing: border-box;
	font-size: 15px;
	text-transform: uppercase;
	
	margin: 0px auto;
	transition: 0.3s;
}

.b_ground .advertise .wrap_390 button:hover{
	cursor: pointer;
	font-size: 18px;
	transition: 0.3s;
}

