.blue {
	background-color: #19283f;
}

.wrap_390 {
	width: 570px;
	height: 390px;
	position: static;
	margin: 0px auto;}

.advertise .wrap_390 h1 {
	font-family: DejaVuSans;
	text-align: center;
	color: #fff;
	font-size: 25px;
	position: relative;
	width: 	100%;
	top: 105px;
	margin: 0px auto;
}

.advertise .wrap_390 p {
	font-family: DejaVuSans;
	color: #a8b9c0;
	display: block;
	text-align: center;
	margin: 0px auto;
	width: 100%;
	font-size: 15px;
	position: relative;
	top: 125px;
	margin-bottom: 200px;
}

.advertise .wrap_390 button {
	display: block;
	font-family: DejaVuSans;
	border: none;
	background: #ff3150;
	color: #ffc501;
	border-radius: 10px;
	box-sizing: border-box;
	width: 188px;
	height: 42px;
	font-size: 15px;
	text-transform: uppercase;
	
	margin: 0px auto;	
}