.bground {
	padding: 58px 0px;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}

.wrap_blog {
	width: 1171px;
}

/*---->yellow img<----*/
.wrap_blog .share_img {
	margin: 0px auto 48px;
	display: block;
	width: 77px;
	height: 57px;
	background-color: #ffc400;
}

/*---->Header<----*/
.wrap_blog .h_blog {
	width: 230px;
	display: block;
	margin: 0 auto ;
	text-align: center;
	font-size: 35px;
	color: #1a2940;
	font-weight: 500;
	font-family: "robotomedium";
}

/*---->Header > ancar tag<----*/
.wrap_blog .h_blog + a{
	display: block;
	width: 150px;
	text-align: center;
	font-size: 15px;
	color: #a8b9c0;
	font-weight: 400;
	font-family: 'robotoregular';
	margin: 0 auto 58px;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid #00c6bf !important;
	transition: 0.3s;
	line-height: 37px;
}
/*---->Header ancar tag<----*/
.wrap_blog .h_blog + a:hover {
	text-decoration: none;
	border-bottom: 1px solid #00c6bf;
	width: 100px;
	transition: 0.3s;
}
/*---->Header ancar tag<----*/
.wrap_blog .h_blog + a:visited {
	border: none;
	text-decoration: none;
}
/*---->Header ancar tag<----*/
.wrap_blog .h_blog + a:active {
	border: none;
	text-decoration: none;
}

/*---->All Blogs<----*/
.wrap_blog .n_center {
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	}

.wrap_blog .n_center [class*='news_'] {
	box-sizing: border-box;
	/* margin: 15px; */
	/* height: 190px; */
	width: 370px;
	display: inline-block;

}
/*---->Blog --- 1<----*/
.wrap_blog .n_center div.news_1 {
	text-align: left;
}
.wrap_blog .n_center [class*='news_'] .p_date{
	margin-top: 18px;
	font-size: 13px;
	color: #a8b9c0;
	font-weight: 400;
	font-family: ''robotoregular'';
}

.wrap_blog .n_center [class*='news_'] .p_text {
	font-size: 20px;
	color: #1a2940;
	font-weight: 400;
	font-family: 'robotoregular';
	margin-top: 15px;
}

/*---->Blog --- 2<----*/
.wrap_blog .n_center div.news_2 {
	text-align: left;
}
/*---->Blog --- 3<----*/
.wrap_blog .n_center div.news_3 {
	text-align: left;
	margin-right: 0px;
}
/*---->Images at all of the Blogs<----*/
.wrap_blog .n_center [class*='news_'] img {
	width: 370px;
	height: 130px;
	object-fit: cover;
}



/*---->Button<----*/
.wrap_blog button  {
	display: block;
	border: none;
	background-color: #ff3150;
	border-radius: 20px;
	box-sizing: border-box;
	margin: 60px auto 0px;
	text-transform: uppercase;
	width: 208px;
	height: 45px;
	font-size: 15px;
	color: #ffc501;
	font-weight: 500;
	font-family: 'robotomedium';
	transition: 0.3s;
}

.wrap_blog button:hover {
	cursor: pointer;
	font-size: 18px;
	transition: 0.3s;
	
}


@media only screen and (min-width: 0px) {
	.wrap_blog {
	width: 100%;
	margin: 0 auto;
	}

	.wrap_blog .n_center div.news_3 {
	text-align: left;
	margin-right: 15px;
}	
}

@media only screen and (min-width: 480px) {
	.wrap_blog {
	width: 100%;	
	margin: 0 auto;
	}

	.wrap_blog .n_center div.news_3 {
	text-align: left;
	margin-right: 15px;
}

	.wrap_blog .n_center {
	text-align: center;
	}
}

@media only screen and (min-width: 1171px) {
	.wrap_blog {
		max-width: 1171px;
		width: 100%;
		margin: 0 auto;
	}

	.wrap_blog .n_center {
	margin: 0 auto;
	text-align: center;
}

}