.footer_block {
	width: 100%;
	background-color: #19283f;
    font-family: 'robotoregular';
}
.p_logo {
	margin-top: 58px;
}
.wrap_footer {
	max-width: 1171px;
	margin: 0 auto;
	flex-wrap: wrap;
	display: flex;
	box-sizing: border-box;
	color: #fff;
	justify-content: space-between;
	column-gap: 6px;
}
.first_column {
    width: 371px;
    font-size: 13px;
    color: #a8b9c0;
    line-height: 35px;
 }
.first_column h3 {
	margin-top: 20px;
	line-height: 2.308;
}
.first_column h4 {
	margin-top: 66px;
	line-height: 2.077;
} 
.first_column h5 {
	margin-top: 14px;
	line-height: 2.077;
	padding-bottom: 67px;
} 
.second_column {
	width: 171px;
	color: #a8b9c0;
}
.second_column ul {
	margin-left: 6px;
	margin-top: 63px;
}
.second_column ul li {
	padding-bottom: 27px;
}
.third_column {
	margin-left: 6px;
    width: 171px;
    text-align: left;
    color: #a8b9c0;
}
.third_column ul {
	margin-left: 6px;
	margin-top: 63px;
}
.third_column ul li {
	padding-bottom: 27px;
}
.forth_column {
	margin-top: 50px;
    width: 398px;
	color: #a8b9c0;
    line-height: 40px;   
}
.footer_nav .active {
	font-size: 15px;
	color: #fff;
}
.button {
    width: 400px;
    height: 52px;
	background-color: #ff3150;
	color: #fff;
	font-size: 15px;
	text-align: center;
	border: none;
	border-radius: 22px;
	margin-top: 35px;
	cursor: pointer;
}
.social {
	display: inline-flex;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
.social li {
	margin-left: 10px;
}
.facebook {
	width: 41px;
	height: 41px;
	background-color: #347bd2;
	border-radius: 50px;
}	
.twitter {
	width: 41px;
	height: 41px;
	margin-left: 10px;
	background-color: #1ec4ff;
	border-radius: 50px;
}
.google {
	width: 41px;
	height: 41px;
	margin-left: 10px;
	background-color: #ff4031;
	border-radius: 50px;
}
.dribble {
	width: 41px;
	height: 41px;
	margin-left: 10px;
	background-color: #ff3197;
	border-radius: 50px;
}
.clearfix::after {
  	content: "";
  	clear: both;
  	display: table;
}
@media screen and (max-width: 768px) {
.wrap_footer {
	width: 90vw;
}
.footer_block {
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 480px) {
.wrap_footer {
	display: flex;
	flex-direction: column;
}	
