.footer_block {
	width: auto;
	/*height: 996px;*/
	/*padding-top: 58px;
	padding-bottom: 60px;*/
	background-color: #19283f;
	display: block;
	/*justify-content: left;*/
    font-family: 'robotoregular';
    height: 400px;
}
.p_logo {
	align-self: left;
	position: left;
}
.first_column {
	width: 30%;
	float: left;
	font-size: 13px;
    line-height: 30px;
    position: absolute;
	/*height: 500px;
	margin: 100px;*/
}
/*.second_column {
	po
	width: 25%;
	

}
.third_column {
	width: 20%;
	float: right;
}*/
}
 .f_wrap {
	max-width: 1171px;
	display: block;
	position: relative;
	/*flex-direction: column;
	justify-content: flex-start;*/
	text-align: center;
}
.f_wrap h2 {
    font-family: 'robotomedium';
	font-size: 35px;
	line-height: 27px;
	color: #1a2940;
	margin-top: 46px;
}
.f_wrap h3 {
	font-size: 15px;
	margin-top: 2px;
	color: #a8b9c0;
	line-height: 17px;
	position: relative;
	padding: 17px;
}
.f_wrap h3:after {
	content : "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 150px;
	border-bottom:2px solid #7fe0de;
}
.f_wrap ul li {
	font-size: 15px;
	line-height: 25px;
	cursor: pointer;
	color: #fff;
	padding: 15px 21px;
}
