header {
	width: auto;
    height: 500px;
	background-color: #19283f;
	font-family: 'robotoregular';
	margin-top: 0px;
}

/*Navibar*/

.header_logo {
	position: relative;
	padding-left:  378px;
	padding-top: 18px;
}
header > .wrap > ul {
	padding-top: 31px;
	float: right;
	line-height: 12px;
	font-size: 15px;
	color: #a8b9c0;
	font-weight: 400;
    font-family: "Roboto";
	line-height: 11px;
}

header > .wrap > ul  li {
	float: right;
	margin-left: 9px;
	line-height: 12px;
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	line-height: 11px;
}

header > .wrap > ul  li:last-child:after {
	content:'|';
	margin: 0;

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

  