header {
	height: 500px;
	background: url('../img/bg.jpg') no-repeat center center;
	background-size: cover;
	box-sizing: border-box;
}

.top-h {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(2,0,36);
	background: linear-gradient(176deg, rgba(2,0,36,1) 0%, 
	rgba(9,9,121,0.5) 35%, 
	rgba(0,212,255,0) 100%);
}

span {
	position: absolute;
	display: inline-block;
	float: left;
} 

a {
	padding: 7px;
	text-decoration: none;
	color: #EEEEEE;
}

.logo {
	position: relative;
	float: left;
	top: 15px;
}

img {
	width: 80px;
}

form {
	position: relative;
	text-align: right;
	right: calc(100% - 540px);
	padding: 5px;
}

.fa {
	position: absolute;
	right: 180px;
	top: 3px;
	color: #EEEEEE;
}

nav {
	float: right;
	right: 0;
	box-sizing: border-box;
}

nav ul {
	display: block;
	text-align: left;
	float: right;
}

nav ul li {
	display: inline-block;
	position: relative;
	float: left;
	right: 0;
	padding: 8px 14px;
	color: #EEEEEE;
	text-decoration: none;
	text-transform: uppercase;
}

.home:hover {
	color: red;
}

.name {
	margin: 200px 150px;
	font-size: 32px;
	color: #EEEEEE;
}

p {
	font-size: 14px;
}