

header {
	width: 100%;
	background:  #19283f;

}

nav {
	width: 100%;
	background:  #19283f;
	overflow: visible;
    position: fixed;
    top: 0;
    display: block;
    z-index: 1500;
  }


.wrap {
	max-width: 1171px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.wrap ul {
	display: inline-flex;
}


.wrap ul:after {
	content:"|";
	background-color: #00c6bf;
	display: block;
	margin-left: 26px;
	width: 1px;
	height: 25px;
	margin-top: 26px;
}

.wrap ul li  {
	margin-top: 31px;
	margin-left: 41px;
	margin-bottom: 31px;
}
.wrap ul li a {
	font-size: 15px;
	color: #a8b9c0;
	font-weight: 400;
	font-family: 'robotoregular';
	text-decoration: none;
}


 .logo {
	margin-right: auto;
}
 .search {
	margin-left: 24px;
	cursor: pointer;
	

}

.login {
	width: 110px;
	height: 40px;
	border-radius: 15px;
	background-color: #ff3150;
	border: none;
	font-size: 15px;
	color: #ffc501;
	font-family: "robotomedium";
	margin-left: 21px;
	cursor: pointer;
	
}

.taste {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 1171px;
	margin:0 auto;
}
.taste h2 {

	font-size: 51px;
	color: #f0f8fb;
	font-family: "robotolight";
	align-self: center;
	margin-top: 127px;
}

.taste p {
	font-size: 15px;
	color: #a8b9c0;
	font-family: "robotoregular";
	align-self: center;
	margin-top: 8px;
}

.get {
	width: 190px;
	height: 45px;
	border-radius: 20px;
	background-color: #ff3150;
	margin-top: 33px;
	margin-bottom: 143px;
	border: none;
	align-self: center;
	font-size: 15px;
	color: #ffc501;
	font-family: "robotomedium";

}

.login:hover {
    font-size: 16px;
	background-color: #F42F4D;
	color: #ffc501;
}

.taste button:hover {
	font-size: 16px;
	background-color: #F42F4D;
	color: #ffc501;

}

 .wrap .active, ul li a:hover {
  color: #00c7c0;
  background-size: 20px;green;
  background-color: 

}

.icon {

display:none;
position: absolute;
top: 31px;
color: #a8b9c0;
margin-right: 50px;
}


.responsive #myDIV  {
	position: fixed;
	display: initial;
	width: auto;
	top: 65px;
	left: 100px;
	right: 100px;	
	background-color: #19283f;
	border: 1px solid #00c7c0;

}
.responsive .wrap ul:after {
	display: none;

}

.responsive .search,.responsive .login {
	position: relative ;
	display:block;;
	right: 175px;
	margin-top: 0px;
}

@media screen and (max-width: 768px) {

  #myDIV,.search,.login {
  	display: none;
  }

 .logo {

  	display: flex;
  	top: 18px;
  	left: 0px;
	right: 0;
	margin: 18px 250px 25px 0;

 }
  
 .icon {
    float: right;
    display: initial;
  }
}

@media screen and (max-width: 480px) {

  .#myDIV,.search,.login {
  	display: none;
  }

  .logo {

  	display: flex;
  	top: 18px;
  	left: 0px;
	right: 0;
	margin: 18px 250px 25px 0;

  }
  
  .icon {
    float: right;
    display: initial;
  }
}

 