.meet {
	width: 100%;
	padding-bottom: 60px;
	background-color: #eff7fa;
	display: flex;
	justify-content: center;
    font-family: 'robotoregular';
}
.m_wrap {
	width: 1171px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.m_wrap h2 {
	margin-top: 115px;
	font-size: 35px;
	color: #ffc501;
	font-family: "robotomedium";
}
.m_wrap p {
	max-width: 971px;
	color: #a8b9c0;
	line-height: 1.2;
	font-size: 15px;
	font-family: "robotolight";
	text-align: center;
	margin: 32px auto 62px;
}
.m_wrap .cont {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.cont div {
	height: 390px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}
.cont div img {
	width: 270px;
	height: 220px;
}
.cont div img:hover {
	transform: scale(1.1);
	transition: all, 0.3s;
	cursor: pointer;
}
.cont div h3 {
	font-size: 20px;
	background-color: #33d1cc;
	color: #ffffff;
	line-height: 0.95;
	font-family: "robotomedium";
	padding-top: 14px;
	padding-bottom: 17px;
}
.cont div p {
	width: 215px;
	font-size: 15px;
	color: #a8b9c0;
	font-family: "robotoregular";
	text-align: center;
	/*margin: 33px auto 38px;*/
}

@media screen and (max-width: 768px) {
	
	.about .y_wrap .shell {
		width: 90vw;
	}
	.meet .m_wrap .cont {
		justify-content: space-around;
		width: 90vw;
		margin: auto;
	}
	.cont div {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 480px) {
	.meet .m_wrap{
		width: 90vw;
		margin: 0 auto;
	}
}