.meet {
	width: 100%;
	/*height: 712px;*/
	/*padding-top: 58px;*/
	padding-bottom: 60px;
	background-color: #eff7fa;
	display: flex;
	justify-content: center;
    font-family: 'robotoregular';
}
.m_wrap {
	width: 1171px;
	display: flex;
	/*position: relative;*/
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.m_wrap h2 {
	margin-top: 115px;
	font-size: 35px;
	color: #ffc501;
	font-family: "robotomedium";
}
.m_wrap p {
	max-width: 971px;
	height: 38px;
	color: #a8b9c0;
	line-height: 1.2;
	font-size: 15px;
	font-family: "robotolight";
	text-align: center;
	margin: 32px auto 62px;
}
.m_wrap .cont {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.cont div {
	/*width: 270px;*/
	height: 390px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
}
.cont div img {
	width: 270px;
	height: 220px;
}
.cont div img:hover {
	transform: scale(1.1);
	transition: all, 0.3s;
}
.cont div h3 {
	/*height: 50px;*/
	font-size: 20px;
	background-color: #33d1cc;
	color: #ffffff;
	line-height: 0.95;
	font-family: "robotomedium";
	padding-top: 14px;
	padding-bottom: 17px;
}
.cont div p {
	width: 215px;
	height: 77px;
	font-size: 15px;
	color: #a8b9c0;
	font-family: "robotoregular";
	text-align: center;
	margin: 33px auto 38px;
}

@media screen and (max-width: 768px) {
	
	.about .y_wrap .shell {
		width: 90vw;
		/*background-color: red;*/
	}

	.meet .m_wrap .cont {
		width: 90vw;
		margin: auto;
		/*background-color: red;*/
	}
}

@media screen and (max-width: 480px) {
	.about .y_wrap .shell,
	.meet .m_wrap .cont {
		width: 270px;
		margin: auto;
		/*background-color: green;*/	
	}
}