@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}
.portfolio {
	width: 100%;
	height: 996px;
	background-color: #eff7fa;
	display: flex;
	justify-content: center;
}
.k_wrap {
	width: 1171px;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid red;
	text-align: center;
}
.p_logo {
	margin-top: 58px;
	align-self: center;
}
.k_wrap h2 {
	font-size: 35px;
  line-height: 27px;
	color: #1a2940;
	margin-top: 46px;
}
.k_wrap h3 {
	font-size: 15px;
	font-weight: 400;
	margin-top: 2px;
	color: #a8b9c0;
	line-height: 17px;
	position: relative;
	padding: 17px;
}
.k_wrap h3:after {
	content : "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 150px;
	border-bottom:2px solid #7fe0de;
}
.k_wrap ul {
	display: inline-flex;
	align-self: center;
	align-items: center;
	margin-top: 60px;
}
.k_wrap ul li {
	font-size: 15px;
	line-height: 15px;
	cursor: pointer;
	color: rgb(168, 185, 192);
	padding: 15px 21px;
}
.k_wrap ul li:last-child {
	margin-right: 0px;
}
.k_wrap ul li.active {
	padding: 15px 22px;
	margin: 0px 19px;
	background-color: #ff3150;
	color: #ffc501;
	border-radius: 9px;
	transition: 0.1s;
}