.toTop {
	position: absolute;
	opacity: 0;
}
.toTop.active {
	opacity: 1;
	transition: 1s;
}
.toTop img {
	width: 1.5vw;
	height: 1vw;
	position: fixed;
	bottom: 16px;
	right: 32px;
	opacity: 0;
	pointer-events: none;
	background-color: #fff;
	padding: 0.5vw;
	border: 2px solid #19283f;
	box-shadow: 0px 0px 5px -2px rgb(0, 0, 0, 0.6);
	border-radius: 0.3vw;
	z-index: 500;
}
.toTop.active img {
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}
.toTop img:hover {
	border: 3px solid #19283f;
	right: 31px;
}

@media screen and (max-width: 768px) {
.toTop img {
  width: 3.75vw;
  height: 2.5vw;
  position: fixed;
  bottom: 2vw;
  right: 8vw;
  opacity: 0;
  pointer-events: none;
  padding: 1vw;
  border-radius: 0.9vw;
}.toTop img:hover {
	border: 3px solid #19283f;
	right: 8vw;
}
.toTop.active img {
  bottom: 6vw;
  pointer-events: auto;
  opacity: 1;
}